
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="text-center">
    <h3>It's Party Time!!<br /></h3>
    <h4>And you're invited!</h4>
    
    <img src="~/Images/pikachu.png" />
    <br />
    <div class="btn btn-success">
        @Html.ActionLink("RSVP now!","RsvpForm")
    </div>
</div>
