body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f6b;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
        background-color:#a7f;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-fixed-top {
    background-image: url('../Images/pokemonLogo.png');
    background-size:contain;
    background-position:right;
    background-repeat:no-repeat;
}

.field-validation-error{
    background-color:#f00;
}

.input-validation-error{
    color: #f00;
    border:1px solid #f00;
    background-color: #faa;
}

.btn {
    background-color:#B29;
    border-color:#d3a;
    box-shadow:rgba(0,0,0,0.6) 1px 1px 2px 2px;
    color:#4fa;
}