@using MVCRecords.Models
@model IEnumerable<Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    @foreach (Album r in Model)
    {
        <ul>
            <li>@r.title</li>
            <li>@r.artist</li>
            <li>@r.format</li>
            <li>@r.price</li>
        </ul>
        <hr />
    }


       